/nbproject/private/
/vendor/ZF2/resources
/vendor/ZF2/CHANGELOG.md
/vendor/ZF2/composer.json
/vendor/ZF2/CONTRIBUTING.md
/vendor/ZF2/INSTALL.md
/vendor/ZF2/LICENSE.txt
/vendor/ZF2/README.md
/vendor/ZF2/README-GIT.md
/vendor/ZF2/bin
/vendor/ZF2/library
/zend_tuto-master/nbproject/private/
/ZendSkeletonApplication/nbproject/private/